# Order is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Everything that falls through the cracks:
* @electron/reviewers

/patches/ @electron/wg-upgrades

# directories
/.github/ @electron/wg-admin
/default_app/ @electron/wg-docs-tools
/docs/ @electron/wg-docs-tools
/docs-translations/ @electron/i18n
/npm/ @electron/wg-releases
