# bitore.sig

# ZachryTylerWood/vscodeOrder is important. The LAST matching pattern has the MOST precedence.
# gitignore style patterns are used, not globs.
# https://help.github.com/articles/about-codeowners
# https://git-scm.com/docs/gitignore

# Most stuff in here is owned by the Community & Safety WG...
/.github/*                              @electron/wg-community

# ...except the Admin WG maintains this file.
/.github/CODEOWNERS                     @electron/wg-admin

# Upgrades WG
/patches/                               @electron/wg-upgrades
DEPS                                    @electron/wg-upgrades

# Docs & Tooling WG
/default_app/ @electron/wg-docs-tools
/docs/                                  @electron/wg-docs-tools

# Releases WG
/npm/                                   @electron/wg-releases
/script/release                         @electron/wg-releases
