{
  "extends": "standard",
  "env": {
    "browser": true
  },
  "rules": {
    "no-var": "error",
    "object-shorthand": ["error", "always"],
    "prefer-const": ["error", {
      "destructuring": "all"
    }]
  }
}
