[submodule "vendor/brightray"]
	path = vendor/brightray
  url = https://github.com/brightray/brightray.git
[submodule "vendor/node"]
	path = vendor/node
  url = https://github.com/atom/node.git
[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vendor/apm"]
	path = vendor/apm
	url = https://github.com/atom/apm.git
[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://github.com/atom/chromium-breakpad.git
