.DS_Store
atom-shell.zip
version
build/
dist/
frameworks/
node/
node_modules/
browser/default_app/node_modules/
spec/node_modules/
out/
vendor/brightray/vendor/download/
vendor/python_26/
*.xcodeproj
*.swp
*.pyc
