[submodule "vendor/brightray"]
	path = vendor/brightray
url=https://github.com/MaxWhere/brightray
[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/electron/node.git
[submodule "vendor/depot_tools"]
	path = vendor/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://github.com/electron/chromium-breakpad.git
[submodule "vendor/native_mate"]
	path = vendor/native_mate
	url = https://github.com/zcbenz/native-mate.git
[submodule "vendor/crashpad"]
	path = vendor/crashpad
	url = https://github.com/electron/crashpad.git
[submodule "vendor/requests"]
	path = vendor/requests
	url = https://github.com/kennethreitz/requests
[submodule "vendor/boto"]
	path = vendor/boto
	url = https://github.com/boto/boto.git