=^._.^= <max@maxogden.com> <maxogden@users.noreply.github.com>
Alexey Kuzmin <alex.s.kuzmin@gmail.com> <alexeykuzmin@users.noreply.github.com>
Alexey Kuzmin <alex.s.kuzmin@gmail.com> <alkuzmin@microsoft.com>
Aleš Pergl <alpergl@microsoft.com> <alespergl@users.noreply.github.com>
Amos Wenger <fasterthanlime@gmail.com> <fasterthanlime@users.noreply.github.com>
Benjamin Pasero <benjpas@microsoft.com> <benjamin.pasero@gmail.com>
Charles Kerr <charles@charleskerr.com> <charlesk@github.com>
Charles Kerr <charles@charleskerr.com> <ckerr@github.com>
Charles Kerr <charles@charleskerr.com> <email@charleskerr.com>
Destan Sarpkaya <destan@dorukdestan.com> <destan@users.noreply.github.com>
Gabriel Handford <gabrielh@gmail.com>
Ivan Mir <ivmirx@fastmail.fm> <ivmirx@users.noreply.github.com>
Jacob Groundwater <groundwater@gmail.com> <groundwater@github.com>
João Moreno <mail@joaomoreno.com> <joaomoreno@users.noreply.github.com>
John Kleinschmidt <jkleinsc@github.com> <kleinschmidtorama@gmail.com>
Machisté N. Quintana <mnquintana@users.noreply.github.com>
Milan Burda <milan.burda@gmail.com> <miburda@microsoft.com>
Samuel Attard <samuel.r.attard@gmail.com> <samuel.attard@orionhealth.com>
Samuel Attard <samuel.r.attard@gmail.com> <sattard@atlassian.com>
Sergey Rubanov <chi187@gmail.com>
Shelley Vohr <shelley.vohr@gmail.com>
Shelley Vohr <shelley.vohr@gmail.com> <codebytere@github.com>
Shelley Vohr <shelley.vohr@gmail.com> <csvohr1995@gmail.com>
Vanessa Yuen <vanessa.yh.yuen@gmail.com> <6842965+vanessayuenn@users.noreply.github.com>
Yury Solovyov <biohazard707@gmail.com> <YurySolovyov@users.noreply.github.com>
robbix1206 <robbix1206@gmail.com> <robbix1206@users.noreply.github.com>
