
version: 2
jobs:
  electron-linux-arm:
    docker:
      - image: electronbuilds/electron:0.0.3
        environment:
          TARGET_ARCH: arm
    steps:
      - checkout
      - run: sh -e /etc/init.d/xvfb start
      - run:
          name: Check for release
          command: |
            MESSAGE="$(git log --format=%B -n 1 HEAD)"
            case ${MESSAGE} in
              Bump* ) echo 'export ELECTRON_RELEASE=1' >> $BASH_ENV
            esac
      - run:
         name: Bootstrap
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Bootstrapping Electron for release build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v
           else
              echo 'Bootstrapping Electron for debug build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v --dev
           fi
      - run: npm run lint
      - run:
         name: Build
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Building Electron for release'
              script/build.py -c R
           else
              echo 'Building Electron for debug'
              script/build.py -c D
           fi
      - run:
          name: Create distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Creating Electron release distribution'
                script/create-dist.py
             else
                echo 'Skipping create distribution because build is not for release'
             fi
      - run:
          name: Upload distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Uploading Electron release distribution'
                script/upload.py
             else
                echo 'Skipping upload distribution because build is not for release'
             fi

  electron-linux-ia32:
    docker:
      - image: electronbuilds/electron:0.0.3
        environment:
          TARGET_ARCH: ia32
    steps:
      - checkout
      - run: sh -e /etc/init.d/xvfb start
      - run:
          name: Check for release
          command: |
            MESSAGE="$(git log --format=%B -n 1 HEAD)"
            case ${MESSAGE} in
              Bump* ) echo 'export ELECTRON_RELEASE=1' >> $BASH_ENV
            esac
      - run:
         name: Bootstrap
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Bootstrapping Electron for release build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v
           else
              echo 'Bootstrapping Electron for debug build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v --dev
           fi
      - run: npm run lint
      - run:
         name: Build
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Building Electron for release'
              script/build.py -c R
           else
              echo 'Building Electron for debug'
              script/build.py -c D
           fi
      - run:
          name: Create distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Creating Electron release distribution'
                script/create-dist.py
             else
                echo 'Skipping create distribution because build is not for release'
             fi
      - run:
          name: Upload distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Uploading Electron release distribution'
                script/upload.py
             else
                echo 'Skipping upload distribution because build is not for release'
             fi

  electron-linux-x64:
    docker:
      - image: electronbuilds/electron:0.0.3
        environment:
          TARGET_ARCH: x64
    steps:
      - checkout
      - run: sh -e /etc/init.d/xvfb start
      - run:
          name: Check for release
          command: |
            MESSAGE="$(git log --format=%B -n 1 HEAD)"
            case ${MESSAGE} in
              Bump* ) echo 'export ELECTRON_RELEASE=1' >> $BASH_ENV
            esac
      - run:
         name: Bootstrap
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Bootstrapping Electron for release build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v
           else
              echo 'Bootstrapping Electron for debug build'
              script/bootstrap.py --target_arch=$TARGET_ARCH -v --dev
           fi
      - run: npm run lint
      - run:
         name: Build
         command: |
           if [ "$ELECTRON_RELEASE" == "1" ]; then
              echo 'Building Electron for release'
              script/build.py -c R
           else
              echo 'Building Electron for debug'
              script/build.py -c D
           fi
      - run:
          name: Create distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Creating Electron release distribution'
                script/create-dist.py
             else
                echo 'Skipping create distribution because build is not for release'
             fi
      - run:
          name: Upload distribution
          command: |
             if [ "$ELECTRON_RELEASE" == "1" ]; then
                echo 'Uploading Electron release distribution'
                script/upload.py
             else
                echo 'Skipping upload distribution because build is not for release'
             fi
      - run:
          name: Test
          command: |
             if [ "$ELECTRON_RELEASE" != "1" ]; then
                echo 'Testing Electron debug build'
                script/test.py --ci
             else
                echo 'Skipping testing on release build'
             fi
      - run:
          name: Verify FFmpeg
          command: |
             if [ "$ELECTRON_RELEASE" != "1" ]; then
                echo 'Verifying ffmpeg on debug build'
                script/verify-ffmpeg.py
             else
                echo 'Skipping verify ffmpeg on release build'
             fi

workflows:
  version: 2
  build-arm:
    jobs:
      - electron-linux-arm
  build-ia32:
    jobs:
      - electron-linux-ia32
  build-x64:
    jobs:
      - electron-linux-x64
