[submodule "vendor/libchromiumcontent"]
	path = vendor/libchromiumcontent
	url = https://github.com/electron/libchromiumcontent
[submodule "vendor/gyp"]
	path = vendor/gyp
	url = https://github.com/electron/gyp
