version: '3'

services:
  buildtools:
    image: ghcr.io/electron/devcontainer:77262e58c37631ab082482f42c33cdf68c6c394b

    volumes:
      - ..:/workspaces/gclient/src/electron:cached

      - /var/run/docker.sock:/var/run/docker.sock

    command: /bin/sh -c "while sleep 1000; do :; done"

    user: builduser

    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
