{
  "env": {
    "browser": true,
    "mocha": true,
    "jquery": true,
    "serviceworker": true
  },
  "globals": {
    "Bindings": true,
    "Components": true,
    "UI": true,
    "WebView": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  }
}
