/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  color: #fff;
  font-size: 94.4%;
}

:host ::selection {
  background: rgba(255, 255, 255, 0.3);
}

#pageselector {
  --paper-input-container-underline: {
    visibility: hidden;
  };
  --paper-input-container-underline-focus: {
    visibility: hidden;
  };
  display: inline-block;
  padding: 0;
  width: 1ch;
}

#input {
  -webkit-margin-start: -3px;
  color: #fff;
  line-height: 18px;
  padding: 3px;
  text-align: end;
}

#input:focus,
#input:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

#slash {
  padding: 0 3px;
}

#pagelength-spacer {
  display: inline-block;
  text-align: start;
}

#slash,
#pagelength {
  font-size: 76.5%;
}
