/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  -webkit-transition: opacity 400ms ease-in-out;
  pointer-events: none;
  position: fixed;
  right: 0;
}

#text {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  float: left;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  width: 62px;
}

#triangle-right {
  border-bottom: 6px solid transparent;
  border-left: 8px solid rgba(0, 0, 0, 0.5);
  border-top: 6px solid transparent;
  display: inline;
  float: left;
  height: 0;
  margin-top: 18px;
  width: 0;
}